/*--|►| Colors |◄|--*/
$primary-dark: #084887;
$primary-medium: #4c72a4;
$primary-light: #909cc2;

$secondary-dark: #f58a07;
$secondary-medium: #f8af58;
$secondary-light: #fcd5aa;

$tertiary-dark: #000000;
$tertiary-medium: #bcbcbc;
$tertiary-light: #ffffff;

$pending-default: #f8af58;
$pending-opacity: rgba(245, 138, 7, 0.15);

$assigned-default: #4c72a4;
$assigned-opacity: rgba(144, 156, 194, 0.75);

$resolved-default: #08870c;
$resolved-opacity: rgba(8, 135, 12, 0.15);

$deleted-default: #f95555;
$deleted-opacity: rgba(249, 85, 85, 0.15);

$ticket-odd: #eef0f6;
$ticket-even: #cdd2e3;
