@import 'colors.scss';
/*--|►| #index-overlay <Section> |◄|--*/
/*--▼ .default-overlay ▼--*/
#index-overlay {
  grid-column: 1/13;
  grid-row: 1/23;
  z-index: 2;

  display: inherit;
  grid-template-columns: 80px repeat(10, 1fr) 80px;
  grid-template-rows: 40px repeat(20, 1fr) 40px;
  @media only screen and (max-width: 1920px) {
  }
  @media only screen and (max-width: 1366px) {
  }
  @media only screen and (max-width: 1024px) {
  }
}
